@media (max-width:576px) {
	html {
		font-size: 0.8em;
	}
}

/*------- Logo do cliente -------*/
.logo_cliente_P {
	width: 70px;
}

.logo_cliente_rodape {
	position: absolute;
	width: 80px;
	right: 20px;
}

.imagem-cliente-login {
	padding: 20px;
	text-align: center;
}

.logo_petshop {
	width: 500px;
}

/*------- Imagen do usuário -------*/
.inset {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  box-shadow:
    inset 0 0 0 2px rgba(255,255,255,0.6), 
    0 1px 1px rgba(0,0,0,0.1);
  background-color: transparent !important;
  z-index: 999;
}

@media (max-width:768px) {
	.inset {
		width: 28px;
  		height: 28px;
	}
}

.inset img {
  border-radius: inherit;
  width: inherit;
  height: inherit;
  z-index: 998;
}

/*------- Definições para o rodapé da página -------*/
.layout-rodape {
	padding: 25px;
	background-color: #484848;
	color: #fff;
	position: relative;
}

@media ( max-width : 749px) {
	.layout-rodape {
		position: static;
		bottom: 0;
	}
}

/*------- Definições para dados e imagens da IridiumIT -------*/

.marca_iridiumit_rodape {
	position: absolute;
	width: 80px;
	right: 20px;
}

.texto_iridiumit {
	width: 150px;
}

/*------- Definições para as páginas de cadastro e pesquisa -------*/

.layout-pagina {
	padding-top: 75px;
	padding-bottom: 30px;
}

.layout-cabecalho {
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #ccc;
	background-color: #fff;
}

.layout-cabecalho--home {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
}

.titulo-formulario {
	margin: 0;
	margin-top: 25px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
	font-size: 1.2rem;
	font-weight: normal;
}

.titulo-formulario i {
	margin-right: 5px;
}

.layout-menu {
	background-color: #e3f2fd;
	color: black;
}

.titulo-lista {
	margin-top: 15px;
}

.pesquisa {
	margin: 0;
	margin-bottom: 10px;
	margin-top: 10px;
}

.campo_obrigatorio::after {
	content: " *";
	color: red;
	font-weight: bold;
}

.text-primary {
	font-weight: bold;
}

.table-sm .btn-sm {
	font-size: .7em;
}

.table-sm td {
	padding: .1rem;
}

.form-group p {
	margin-top: 0;
	padding-top: 0;
	line-height: 1;
}

.grupo_salvar_cancelar{
	margin-top: 10px;
}

/*
##############################################
# Campo com botão para ativar formulário Modal
##############################################
*/
.bw-glyphicon-large {
	font-size: 18px;
}

/* Field Action */
.bw-field-action {
	display: flex;
}

.bw-field-action__icon {
	margin: 6px 0 0 5px;
}

.btn-foto {
	padding: .20rem .5rem;
	font-size: .775rem;
	line-height: 1.3;
	border-radius: .2rem;
}

/*
################################################
# Formatação das imagens antes de carregar
################################################
*/

.image_upload_preview {
	max-width: 100px;
	max-height: 100px;
}

.foto_animal_listagem{
	max-width: 60px;
	max-height: 60px;
}
