<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
	
<head>
	<title>Cadastro de Equipamentos</title>
</head>

<body>
	<section class="aw-layout-content js-content layout-pagina"
		layout:fragment="content">

		<h1 class="titulo-formulario">
			<i class="fas fa-paw"></i>Cadastro de equipamentos do cliente: <span
				class="text-primary" th:text="${equipamento.cliente.nome}"></span>
		</h1>
		
		<th:block th:insert="layout/fragments/MensagemGeral :: sucesso"></th:block>

		<form method="POST" class="form-vertical  js-form-loading"
			th:object="${equipamento}" th:action="@{/administracao/clientes/equipamentos/salvar}">

			<th:block th:insert="layout/fragments/MensagemErro :: erro"></th:block>

			<input type="hidden" th:field="*{id}" />
			<input type="hidden" th:field="*{cliente}" />

				<div class="form-row">
					
					<div class="col-sm-2">
						<div class="form-group">
							<label class="campo_obrigatório" for="nrcmk">Nr. CMK</label>
							<input id="nrcmk" type="text" class="form-control" th:field="*{nrcmk}" />
						</div>
					</div>
					
					<div class="col-sm-2">
						<div class="form-group">
							<label class="campo_obrigatório" for="tipo">Tipo</label>
							<input id="tipo" type="text" class="form-control" th:field="*{tipo}" />
						</div>
					</div>
					
					<div class="col-sm-4 form-group">
						<label class="campo_obrigatório" for="fabricante">Fabricante</label>
						<input id="fabricante" type="text" class="form-control" th:field="*{fabricante}"/>
					</div>
					
					<div class="col-sm-4 form-group">
						<label class="campo_obrigatório" for="modelo">Modelo</label>
						<input id="modelo" type="text" class="form-control" th:field="*{modelo}"/>
					</div>
					
				</div>
				
				<div class="form-row">
				
					<div class="col-sm-3 form-group">
						<label class="campo_obrigatório" for="capacidade">Capacidade</label>
						<input id="capacidade" type="text" class="form-control" th:field="*{capacidade}"/>
					</div>
				
					<div class="col-sm-3 form-group">
						<label class="campo_obrigatório" for="nrserie">Nr. Série</label>
						<input id="nrserie" type="text" class="form-control" th:field="*{nrserie}"/>
					</div>
							
					<div class="col-sm-3 form-group">
						<label for="setor">Setor</label>
						<input id="setor" type="text" class="form-control" th:field="*{setor}"/>
					</div>
					
					<div class="col-sm-3 form-group">
						<label for="area">Area</label>
						<input id="area" type="text" class="form-control" th:field="*{area}"/>
					</div>
					
				</div>
				
				<div class="container">
					<div class="form-row justify-content-between">
						
						<button class="btn  btn-primary btn-sm col-sm-2" type="submit" title="Salvar">
							<i class="far fa-save"></i> Salvar
						</button>
						<a id="btncancelar" class="btn btn-warning btn-sm col-sm-2"
							th:href="@{/administracao/clientes/equipamentos}" th:title="'Cancelar operação'"> 
							<i class="far fa-window-close"></i> Cancelar
						</a>
					</div>
				</div>
			</form>
		</section>
</body>
</html>