<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="shortcut icon" type="image/x-icon"
	th:href="@{/images/favicon.png}">

<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">A2D
	- RA CMK - Página de erro</title>

<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />

<link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet" />

<link th:href="@{/css/erro.css}" rel="stylesheet" />

<link th:href="@{/css/estilo_IridiumIT.css}" rel="stylesheet" />

<script th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>

<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</head>
<body>
<section class="aw-layout-content js-content layout-pagina" layout:fragment="content">
		<div class="textoErro">
			<p>Ocorreu um erro no processamento das
				informações.</p>
			<p>Favor contatar o administrador do sistema!</p>
		</div>
</section>
</body>
</html>