<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<meta charset="UTF-8" />
<title>Página de erro</title>

<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/erro.css}" rel="stylesheet" />

</head>
<body>
<div class="container">
<div class="center">
	<h1 class="textoErro">Ocorreu um erro no processamento das informações</h1>
</div>
</div>
</body>
</html>